$chu-color: #284878;
$han-color: #e35425;

.chess_pieces_wrap {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vh;
  position: absolute;
  z-index: 1;
  color: #fff;
  transition: left 1s, top 1s; /* 添加过渡效果 */
}
.camp_chu {
  border: 0.2vh solid $chu-color;

  background-color: $chu-color;
}
.camp_han {
  border: 0.2vh solid $han-color;
  background-color: $han-color;
}
.selected {
  background-color: #f7f8f1;
  color: #000;
}
