$width: 1px;
$border-color: rgb(60, 16, 16);
$border-width: $width;
$border-style: solid;
$stroke-width: $width;
$border: $border-width $border-style $border-color;

.chessboard {
  width: 64vh;
  height: 72vh;
  border: $border;
  
  > section:nth-child(2) {
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3vh;
    letter-spacing: 0.5vh;
    > span:nth-child(2) {
      transform: scale(-1);
    }
  }
  > section:nth-child(3) {
    transform: rotate(180deg);
  }
}

.item {
  svg {
    stroke-width: $stroke-width;
  }
  > ul {
    height: 8vh;
    display: flex;
    > li {
      width: 8vh;
      height: 8vh;
      display: flex;
      flex-direction: column;
      border-bottom: $border;
      border-left: $border;
    }
    > li:nth-child(1) {
      border-left: none;
    }
  }
  > div:nth-child(1) {
    > li {
      border-top: none;
    }
  }
  > div:nth-last-child(1) {
    height: 0;
    > svg:nth-last-child(1) {
      transform: translate(24vh, -48vh);
    }
    > svg:nth-last-child(2) {
      transform: translate(24vh, -32vh);
    }
  }
}

.tag {
  width: 1vh;
  height: 1vh;
  border-left: $border;
  border-bottom: $border;
}

.tag_wrap {
  padding: 0.5vh;
}
